{%extends 'base.html' %}

{% block content %}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1>Box</h1>
                <p class="lead text-muted">Mas detalles del box "{{box.name}}"</p>
                <p>
                    <a href="/box/" class="btn btn-primary my-2">Ver todos</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">{{box.name}}</text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">{{box.description}}</p>
                                <p><strong>Categoria:</strong> {{box.category.name}}</p>
                                <p class="card-text">Primeras 5 actividades:</p>
                                <ol>
                                    {% for activity in activities %}
                                        <li><h5> {{activity.name}}</h5></li>
                                    {% endfor %}
                                </ol>
                                <p><a href="{% url 'activity_list_by_box' pk=box.pk %}">Ver todas las actividades</a></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

    </main>
{% endblock %}