
{%extends 'base.html' %}

{% block content %}
    <h1>Box:</h1>

    <ul>
        <li><h4>Nombre: {{box.name}}</h4></li>
        <li><h4>Descripcion: {{box.description}}</h4></li>
        <li><h4>Categoria: {{box.category.name}}</h4></li>
        <li><h4>activities:</h4></li>
        <ol>
            {% for activity in activities %}
                <li><h5> {{activity.name}}</h5></li>
            {% endfor %}
        </ol>
    </ul>

    <a href="#">Ver todas las actividades (en construccion!)</a>
{% endblock %}